@import '../global-style.scss';

div.drc-date-picker-overlay {
  background-color: rgba(0, 0, 0, 0.54);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 35;
  display: flex;
  align-items: center;
  justify-content: center;

  div.drc-date-picker-container {
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 45px, rgba(0, 0, 0, 0.22) 0 10px 18px;
    width: 310px;

    div.selected-date {
      background-color: $blue;
      padding: 5px 15px 15px 15px;
      color: $blue-lightest;
      font-size: 35px;

      span.year {
        color: $blue-lighter;
        font-size: 16px;
      }
    }

    div.control {
      padding: 15px 15px 0 15px;
      display: flex;

      .drc-button.change-month {
        font-size: 18px;
        width: 31px;
      }

      .drc-button.change-year {
        font-size: 18px;
        width: 31px;

        &:last-child {
          padding-left: 8px;
        }

        &:first-child {
          padding-right: 8px;
        }
      }

      span {
        flex-grow: 2;
        text-align: center;
        line-height: 30px;
        color: $default-color;
        position: relative;
        top:2px;
      }
    }

    div.calendar {
      background-color: $white;
      padding: 15px;

      span {
        display: inline-block;
        padding: 5px;
        width: 40px;
        height: 35px;
        text-align: center;
        line-height: 25px;
        color: $default-color;

        &:hover {
          background-color: $super-light-gray;
          cursor: pointer;
        }

        &.out-of-month {
          visibility: hidden;
        }
      }

      .header {
        span {
          color: $even-lighter-color;
          cursor: default;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    div.actions {
      padding: 0 15px 15px 15px;
      text-align: right;

      .drc-button {
        margin-left: 5px;
        width: 80px;
      }
    }
  }
}
