@import '../../global-style';

button.digituz-react-button {
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  border-color: #34495e;
  background-color: #34495e;
  line-height: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  box-shadow: $default-shadow;
}
