@import '../global-style.scss';

div.drc-dropdown-container {
  position: relative;
  display: inline-block;
  white-space: nowrap;

  .main-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .dropdown-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid transparentize($white, 0.8);
    position: relative;
    color: transparent;
    width: 30px;
    height: 28px;

    &:after {
      content: '▼';
      font-size: 10px;
      float: left;
      margin-top: -18px;
      color: $white;
    }
  }

  ul.drc-dropdown-options {
    position: fixed;
    background-color: $white;
    border: 1px solid $lighter-color;
    z-index: 20;
    padding: 5px 0 5px 0;
    display: none;
    list-style-type: none;
    box-shadow: $default-shadow;
    border-radius: $default-radius;

    &.visible {
      display: inline-block;
    }

    li {
      padding: 5px 20px 5px 20px;
      cursor: pointer;
      white-space: nowrap;
      text-align: left;

      &:hover {
        background-color: darken($white, 5%);
      }
    }
  }
}
