@import '../global-style';

div.drc-card {
  border: 1px solid $very-light-gray;
  background-color: $white;
  border-bottom: none;
  border-right: none;
  border-radius: $default-radius;
  box-shadow: $default-shadow;

  .drc-card-header {
    background-color: whitesmoke;
    border-top-left-radius: $default-radius;
    border-top-right-radius: $default-radius;
    border-bottom: 1px solid $very-light-gray;
    padding: 10px 15px 10px 15px;

    > h2 {
      font-size: 16px;
      letter-spacing: 1px;
      color: $default-color;
      margin: 0;
    }
  }

  .drc-card-body {
    padding: 20px 15px 20px 15px;
    overflow-x: scroll;

    > .drc-grid {
      margin: 0;

      > * {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    > button.drc-button {
      margin-bottom: 10px;
    }
  }
}
