@import '../../global-style.scss';

div.digituz-react-grid {
  margin: 15px 0 15px 0;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(12, 1fr);
}

// I'm using one loop for each screen size so
// bigger size have precedence over smaller sizes
// check this for more info:
// https://developer.mozilla.org/en/docs/Web/CSS/Specificity

$i: 1;
@while $i <= 12 {
  @include sm-up {
    .sm-pad-#{$i} {
      grid-column-start: $i + 1;
    }

    .sm-#{$i} {
      grid-column-end: span $i;
    }
  }

  $i: $i + 1;
}

$i: 1;
@while $i <= 12 {
  @include md-up {
    .md-pad-#{$i} {
      grid-column-start: $i + 1;
    }

    .md-#{$i} {
      grid-column-end: span $i;
    }
  }

  $i: $i + 1;
}

$i: 1;
@while $i <= 12 {
  @include lg-up {
    .lg-pad-#{$i} {
      grid-column-start: $i + 1;
    }

    .lg-#{$i} {
      grid-column-end: span $i;
    }
  }

  $i: $i + 1;
}

$i: 1;
@while $i <= 12 {
  @include xl {
    .xl-pad-#{$i} {
      grid-column-start: $i + 1;
    }

    .xl-#{$i} {
      grid-column-end: span $i;
    }
  }

  $i: $i + 1;
}
