@import '../global-style.scss';

table.drc-table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;

  th {
    font-weight: 700;
    border-bottom: 1px solid $very-light-gray;
    background-color: $super-light-gray;
  }

  thead {
    line-height: 35px;
  }

  tbody {
    line-height: 40px;
  }

  td.center {
    text-align: center;
  }

  td {
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 10px;

    &:first-child {
      padding: 0;
    }
  }
}
