@import '../global-style';

button.drc-button {
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  border: 1px $dark-blue;
  background-color: $dark-blue;
  line-height: 18px;
  cursor: pointer;
  color: $white;
  font-size: 14px;
  box-shadow: $default-shadow;

  &.default {
    background-color: $white;
    border-color: $super-light-gray;
    color: $default-color;
  }

  &.danger {
    background-color: $red;
    border-color: $red;
  }

  &.success {
    background-color: $green;
    border-color: $green;
  }

  &.warning {
    background-color: $yellow;
    border-color: $yellow;
  }

  &.info {
    background-color: $blue;
    border-color: $blue;
  }

  &.margin-right {
    margin-right: 5px;
  }
}
