@import '../global-style.scss';

div.drc-file-upload {

  input {
    display: none;
  }

  table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    border: 1px solid $very-light-gray;
    font-size: 14px;

    th, td {
      border: 1px solid $very-light-gray;
      padding: 5px;

      a {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    th {
      background-color: $super-light-gray;
    }

    th:only-child {
      background-color: $very-light-gray;
    }

    td {
      text-align: left;
      width: 33%;
    }

    td:first-child {
      text-align: left;
      width: 34%;
    }

    td:only-child {
      text-align: center;
    }
  }
}
