@import '../global-style';

input.drc-input {
  line-height: 30px;
  display: block;
  width: 100%;
  padding-left: 7px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid $very-light-gray;
  border-radius: 2px;

  &:read-only {
    cursor: pointer;
  }
}
